body{
    /* background-color: rgb(0, 0, 0);*/
     background-color:#0a5180;
     font-family: "Bebas Neue", sans-serif;
 }
 
 img {
     display: block;
     margin: auto;
 }
 
 p{
     font-family: "Varela Round", sans-serif;
     font-size: 2em;
     font-weight: 500;
 }
 
 h1{
     font-size: 70px;
     text-align: center;
     color:#0f7392;
     text-shadow: 6px 6px 6px black;
 }
  
 /*ajustar o tamanho da imagem*/
 img{
     height: 800px; /*Altura*/
     width: 50%; /*Largura*/
     box-shadow: 10px 10px 10px black;
 }