@charset "UTF-8";
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: #f4f4f4;
}

body{
    background-color: #688ae3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 50vh;
    margin-right: 50vh;
}
:root {
    --color01:#193773;
    --color02:#132240;
    --color03:#79ACD9;
    --color04:#94C6F2;
    --color05:#EBEFF2;
}

header {
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.514);
    height: 75px;
}

header h1 {
    color: var(#0000007c);
    text-align: center;
    padding: 5px;
    max-width: 1440px;    
    margin: auto;
    font-size: 20px;
    background-color: var(#EBEFF2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
}

nav {       
    padding-top: 20px;
    display: flex;     
    height: 40px;    
    width: 450px;   
    margin: auto;
}

nav a {   
    text-decoration: none;
    color: var(#132240);
    margin: auto;
    font-size: 20px;    
}

nav a:hover {
    background-color: #EBEFF2;
    border-radius: 5px;
    padding: 4px;
    border-color: black;
}

main {
    background-color: rgba(255, 255, 255, 0.87);
    width: 900px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    height: 50vh;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #0000007c;
}

main h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(#79ACD9);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(#132240);
}


footer {
    background-color: #f4f4f4;
    text-align: center;
    color: var(#193773);
    text-align: center;
    text-shadow: 0px 0px 10px var(#79ACD9);
    float: left;
    background-position: bottom;
}