
body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  background-image: url(./pexels-sergio-souza-5047706-scaled-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}

h1{
  margin: 0;
  left: 100px;
  background-color: #db7027;
}


header  {
  color: black;
  padding: 20px 0;
  margin: 0;
}

#header{
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    

header nav ul li:hover {
    color: black;
    transition: .4s;

    
  }

nav ul{
    list-style: none;
      padding: 0;
    
    }

nav ul li{
    display: inline;
    margin-left: 20px;
   
}

nav ul li:first-child{
  left: auto;
  margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

img{
    width: 50%;
  
  
}

/* button */
#button {
  width: 10%;
  left: auto;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: #fff;
}

/* PACOTES */

#locais{
  background-color: rgba(235, 231, 231, 0.363);
  padding: 25px;
  margin: auto;
  max-width: 950px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  height: 50vh;
  border: 1px solid black;
}



/* SERVIÇOS */

.Servicos {
  padding: 15px;
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

/* Especial para Mapa */
@media (max-width: 902px) {
  .contato {
    padding: 60px;
  }

  .contato .contato-card {
    left: 40px;
  }
}

@media (max-width: 850px) {
  .contato {
    padding: 40px 0  ;
  }

  .contato .contato-card {
    position: static;
    margin: 40px auto;
  }
}
