@charset "UTF-8";
* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color01:#193773;
    --color02:#132240;
    --color03:#79ACD9;
    --color04:#94C6F2;
    --color05:#EBEFF2;
}

header {
    background-image: linear-gradient(to right, var(--color03), var(--color05) );
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.514);
    height: 75px;
}

header h1 {
    color: var(--color02);
    text-align: center;
    padding: 5px;
    max-width: 1440px;    
    margin: auto;
    font-size: 20px;
    background-color: var(--color05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
}

nav {       
    padding-top: 20px;
    display: flex;     
    height: 40px;    
    width: 450px;   
    margin: auto;
}

nav a {   
    text-decoration: none;
    color: var(--color02);
    margin: auto;
    font-size: 20px;    
}

nav a:hover {
    background-color: #EBEFF2;
    border-radius: 5px;
    padding: 4px;
    border-color: black;
}
body {
    background-image: url('./pexels-sergio-souza-5047706-scaled-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;      
}

main {
    background-color: rgba(255, 255, 255, 0.87);
    width: 900px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #0000007c;
}

main h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color02);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--color03);
}

main label {
    font-size: 15px;
    line-height: 30px;
    width: 100px;   
}

main p {
    text-align: right;
    padding: 3px;
    margin-top: 150px;
    background-image: linear-gradient(to right, var(--color03), var(--color05));
}

footer {
    background-color: var(--color05);
    color: var(--color01);
    text-align: center;
    text-shadow: 0px 0px 10px var(--color03);
    float: left;
    
    background-position: bottom;
}